[{"name":"Cartella da salvare","backupType":"Incremental","sourcePath":"/home/michele/Desktop/Cartella da salvare","destinationPath":"/home/michele/Desktop/Destinazione","scheduleType":"Monthly","weekDays":["Tuesday","Thursday","Saturday"],"weekClock":["09:17","09:18","09:19"],"monthDays":[19],"monthClock":["10:27"]}]